Web/Supervision.Web/Web References/MsgService/messagewebserver.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CheckingClient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pw" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckingClientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckingClientResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateMessageServer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cuserid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cusername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cphone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cmessagecontent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="coperatetype" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateMessageServerResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckingClientSoapIn">
    <wsdl:part name="parameters" element="tns:CheckingClient" />
  </wsdl:message>
  <wsdl:message name="CheckingClientSoapOut">
    <wsdl:part name="parameters" element="tns:CheckingClientResponse" />
  </wsdl:message>
  <wsdl:message name="CreateMessageServerSoapIn">
    <wsdl:part name="parameters" element="tns:CreateMessageServer" />
  </wsdl:message>
  <wsdl:message name="CreateMessageServerSoapOut">
    <wsdl:part name="parameters" element="tns:CreateMessageServerResponse" />
  </wsdl:message>
  <wsdl:portType name="messagewebserverSoap">
    <wsdl:operation name="CheckingClient">
      <wsdl:input message="tns:CheckingClientSoapIn" />
      <wsdl:output message="tns:CheckingClientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateMessageServer">
      <wsdl:input message="tns:CreateMessageServerSoapIn" />
      <wsdl:output message="tns:CreateMessageServerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="messagewebserverSoap" type="tns:messagewebserverSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckingClient">
      <soap:operation soapAction="http://tempuri.org/CheckingClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateMessageServer">
      <soap:operation soapAction="http://tempuri.org/CreateMessageServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="messagewebserverSoap12" type="tns:messagewebserverSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckingClient">
      <soap12:operation soapAction="http://tempuri.org/CheckingClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateMessageServer">
      <soap12:operation soapAction="http://tempuri.org/CreateMessageServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="messagewebserver">
    <wsdl:port name="messagewebserverSoap" binding="tns:messagewebserverSoap">
      <soap:address location="http://localhost:6003/messagewebserver.asmx" />
    </wsdl:port>
    <wsdl:port name="messagewebserverSoap12" binding="tns:messagewebserverSoap12">
      <soap12:address location="http://localhost:6003/messagewebserver.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>