Framework/Aim.WorkFlow/Service References/WinService/FlowService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="FlowService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1111/FlowService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1111/FlowService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1111/FlowService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BPM.WF.EDM" />
      <xsd:import schemaLocation="http://localhost:1111/FlowService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://localhost:1111/FlowService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://localhost:1111/FlowService?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/BPM.WF.Activities" />
      <xsd:import schemaLocation="http://localhost:1111/FlowService?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/BPM.WF.Model" />
      <xsd:import schemaLocation="http://localhost:1111/FlowService?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFlowBus_GetAllEFormMetaDatas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEFormMetaDatas" />
  </wsdl:message>
  <wsdl:message name="IFlowBus_GetAllEFormMetaDatas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEFormMetaDatasResponse" />
  </wsdl:message>
  <wsdl:message name="IFlowBus_GetAllWorkflowTemplates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWorkflowTemplates" />
  </wsdl:message>
  <wsdl:message name="IFlowBus_GetAllWorkflowTemplates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWorkflowTemplatesResponse" />
  </wsdl:message>
  <wsdl:message name="IFlowBus_GetEFormEntityByWorkflowInstanceID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEFormEntityByWorkflowInstanceID" />
  </wsdl:message>
  <wsdl:message name="IFlowBus_GetEFormEntityByWorkflowInstanceID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEFormEntityByWorkflowInstanceIDResponse" />
  </wsdl:message>
  <wsdl:message name="IFlowBus_GetTaskByTaskId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskByTaskId" />
  </wsdl:message>
  <wsdl:message name="IFlowBus_GetTaskByTaskId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskByTaskIdResponse" />
  </wsdl:message>
  <wsdl:message name="IFlowBus_GetTaskListByOwnerAndStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskListByOwnerAndStatus" />
  </wsdl:message>
  <wsdl:message name="IFlowBus_GetTaskListByOwnerAndStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskListByOwnerAndStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IFlowBus_GetWorkflowTemplatesBindingToEForm_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkflowTemplatesBindingToEForm" />
  </wsdl:message>
  <wsdl:message name="IFlowBus_GetWorkflowTemplatesBindingToEForm_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkflowTemplatesBindingToEFormResponse" />
  </wsdl:message>
  <wsdl:message name="IFlowBus_StartFlow_InputMessage">
    <wsdl:part name="parameters" element="tns:StartFlow" />
  </wsdl:message>
  <wsdl:message name="IFlowBus_StartFlow_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartFlowResponse" />
  </wsdl:message>
  <wsdl:message name="IFlowBus_SubmitApprovalResult_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitApprovalResult" />
  </wsdl:message>
  <wsdl:message name="IFlowBus_SubmitApprovalResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitApprovalResultResponse" />
  </wsdl:message>
  <wsdl:message name="IFlowBus_SubmitNewEForm_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitNewEForm" />
  </wsdl:message>
  <wsdl:message name="IFlowBus_SubmitNewEForm_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitNewEFormResponse" />
  </wsdl:message>
  <wsdl:message name="IFlowBus_UpdateEFormWorkflowTemplateBinding_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEFormWorkflowTemplateBinding" />
  </wsdl:message>
  <wsdl:message name="IFlowBus_UpdateEFormWorkflowTemplateBinding_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEFormWorkflowTemplateBindingResponse" />
  </wsdl:message>
  <wsdl:portType name="IFlowBus">
    <wsdl:operation name="GetAllEFormMetaDatas">
      <wsdl:input wsaw:Action="http://tempuri.org/IFlowBus/GetAllEFormMetaDatas" message="tns:IFlowBus_GetAllEFormMetaDatas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFlowBus/GetAllEFormMetaDatasResponse" message="tns:IFlowBus_GetAllEFormMetaDatas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllWorkflowTemplates">
      <wsdl:input wsaw:Action="http://tempuri.org/IFlowBus/GetAllWorkflowTemplates" message="tns:IFlowBus_GetAllWorkflowTemplates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFlowBus/GetAllWorkflowTemplatesResponse" message="tns:IFlowBus_GetAllWorkflowTemplates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEFormEntityByWorkflowInstanceID">
      <wsdl:input wsaw:Action="http://tempuri.org/IFlowBus/GetEFormEntityByWorkflowInstanceID" message="tns:IFlowBus_GetEFormEntityByWorkflowInstanceID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFlowBus/GetEFormEntityByWorkflowInstanceIDResponse" message="tns:IFlowBus_GetEFormEntityByWorkflowInstanceID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTaskByTaskId">
      <wsdl:input wsaw:Action="http://tempuri.org/IFlowBus/GetTaskByTaskId" message="tns:IFlowBus_GetTaskByTaskId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFlowBus/GetTaskByTaskIdResponse" message="tns:IFlowBus_GetTaskByTaskId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTaskListByOwnerAndStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IFlowBus/GetTaskListByOwnerAndStatus" message="tns:IFlowBus_GetTaskListByOwnerAndStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFlowBus/GetTaskListByOwnerAndStatusResponse" message="tns:IFlowBus_GetTaskListByOwnerAndStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkflowTemplatesBindingToEForm">
      <wsdl:input wsaw:Action="http://tempuri.org/IFlowBus/GetWorkflowTemplatesBindingToEForm" message="tns:IFlowBus_GetWorkflowTemplatesBindingToEForm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFlowBus/GetWorkflowTemplatesBindingToEFormResponse" message="tns:IFlowBus_GetWorkflowTemplatesBindingToEForm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartFlow">
      <wsdl:input wsaw:Action="http://tempuri.org/IFlowBus/StartFlow" message="tns:IFlowBus_StartFlow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFlowBus/StartFlowResponse" message="tns:IFlowBus_StartFlow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitApprovalResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IFlowBus/SubmitApprovalResult" message="tns:IFlowBus_SubmitApprovalResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFlowBus/SubmitApprovalResultResponse" message="tns:IFlowBus_SubmitApprovalResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitNewEForm">
      <wsdl:input wsaw:Action="http://tempuri.org/IFlowBus/SubmitNewEForm" message="tns:IFlowBus_SubmitNewEForm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFlowBus/SubmitNewEFormResponse" message="tns:IFlowBus_SubmitNewEForm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEFormWorkflowTemplateBinding">
      <wsdl:input wsaw:Action="http://tempuri.org/IFlowBus/UpdateEFormWorkflowTemplateBinding" message="tns:IFlowBus_UpdateEFormWorkflowTemplateBinding_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFlowBus/UpdateEFormWorkflowTemplateBindingResponse" message="tns:IFlowBus_UpdateEFormWorkflowTemplateBinding_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFlowBus" type="tns:IFlowBus">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllEFormMetaDatas">
      <soap:operation soapAction="http://tempuri.org/IFlowBus/GetAllEFormMetaDatas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllWorkflowTemplates">
      <soap:operation soapAction="http://tempuri.org/IFlowBus/GetAllWorkflowTemplates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEFormEntityByWorkflowInstanceID">
      <soap:operation soapAction="http://tempuri.org/IFlowBus/GetEFormEntityByWorkflowInstanceID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskByTaskId">
      <soap:operation soapAction="http://tempuri.org/IFlowBus/GetTaskByTaskId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskListByOwnerAndStatus">
      <soap:operation soapAction="http://tempuri.org/IFlowBus/GetTaskListByOwnerAndStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkflowTemplatesBindingToEForm">
      <soap:operation soapAction="http://tempuri.org/IFlowBus/GetWorkflowTemplatesBindingToEForm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartFlow">
      <soap:operation soapAction="http://tempuri.org/IFlowBus/StartFlow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitApprovalResult">
      <soap:operation soapAction="http://tempuri.org/IFlowBus/SubmitApprovalResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitNewEForm">
      <soap:operation soapAction="http://tempuri.org/IFlowBus/SubmitNewEForm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEFormWorkflowTemplateBinding">
      <soap:operation soapAction="http://tempuri.org/IFlowBus/UpdateEFormWorkflowTemplateBinding" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FlowService">
    <wsdl:port name="BasicHttpBinding_IFlowBus" binding="tns:BasicHttpBinding_IFlowBus">
      <soap:address location="http://localhost:1111/FlowService/basic" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>